{% extends "layout.html" %}

{% block page_content %}
    <h2>Question {{ question_number + 1 }}</h2>
    <p>{{ question }}</p>
    <form action="{{ url_for('main.quiz_question', question_number=question_number) }}" method="POST">
        {% for option in options %}
            <label>
                <input type="radio" name="answer" value="{{ option }}">
                {{ option }}
            </label><br>
        {% endfor %}
      
        <button type="submit" name="action" value="next">Next</button>
    </form>
{% endblock %}
